# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.db
.pytest_cache/

# Environment variables
.env
backend/.env
frontend/.env

# Node
node_modules/
npm-debug.log*

# Build output
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log